@charset "utf-8";

ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    max-width: 960px;
    margin: 0 auto;
}

ul li {
    padding: 0 20 px;
}