@charset "utf-8";
html {
  scroll-behavior: smooth;
}
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #4f260b;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*CSSリセット終わり*/
body {
  background-color: #e8d9bf;
}

/*header*/
.header-logo {
  width: 226px;
}

.header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7% 0 2.8%;
}

.pc_nav ul {
  display: flex;
}

.pc_nav ul li {
  width: 105px;
  margin-left: 55px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "sans-serif";
  text-align: center;
}

/*main*/
.lead {
  text-align: center;
  color: #4f260b;
  padding: 100px 0 0 0;
}

.lead_ttl {
  font-size: 82px;
  font-feature-settings: "palt";
  margin-bottom: 30px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}

.lead_txt {
  font-size: 30px;
  margin-bottom: 48px;
}

.article_txt {
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

/*about*/
.about {
  display: flex;
  gap: 80px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-between;
}

.about_img img {
  border-bottom-right-radius: 82px;
}

.logo_img {
  max-width: 100%;
  width: 272px;
  margin-bottom: 68px;
  vertical-align: bottom;
  border: none;
}

.about_contens {
  max-width: 50%;
  display: block;
}
.about_txt {
  margin-bottom: 20px;
  font-size: 44px;
  font-weight: normal;
  line-height: 1.38;
}

.article_txt {
  font-size: 16px;
  line-height: 1.6;
}

/*MENU*/

.menu {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu_logo {
  width: 151px;
  margin: 0 auto 40px;
}

.menu_contns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_items {
  width: 30%;
}

.menu_items img {
  border-top-right-radius: 41px;
}

.menu_txt {
  font-size: 17px;
  width: 100%;
  line-height: 1.47;
  text-align: justify;
  text-align-last: left;
  padding-top: 10px;
}

h3 {
  font-size: 38px;
  margin-top: -12px;
  margin-left: 14px;
  color: #d30202;
  font-weight: normal;
}

/*gallery*/

.gallery {
  max-width: 1000px;
  padding-top: 100px;
}

.gallery_img {
  width: 245px;
  margin: 0 auto 24px;
}
.gallery_images {
  display: flex;
}

/*event*/

.event {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 70px 27px 10px 10px;
}

.event_block {
  display: flex;
  justify-content: center;
  padding: 36px;
  border: 3px solid #4f260b;
  background: #fff;
  font-size: 23px;
  line-height: 25px;
}

.event_itmes a {
  text-decoration: underline;
}

.event_img {
  width: 175px;
  margin: 0 auto 27px;
}

.event time {
  margin-right: 47px;
}

.event_logo {
  width: 214px;
  margin: 0 auto 47px;
}

/*access*/
.access {
  margin-top: 82px;
}
.access_logo {
  width: 213px;
  margin: 0 auto 27px;
}
.access iframe {
  display: block;
  width: 100%;
  height: 470px;
}

/*footer*/

.footer {
  background-color: #fff;
  padding-top: 78px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 78px;
}

.footer_block {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 70px;
  color: black;
}
.footer_img {
  width: 227px;
  margin-right: 60px;
  margin-left: 10px;
}
.footer_txt p {
  font-size: 20px;
  line-height: 1.95;
}

.footer_ttl {
  font-size: 80%;
  text-align: center;
}

.pagetop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 125px;
}

/*レスポンシブ*/
@media screen and (max-width: 767px) {
  .header-slider img {
    width: 100%;
    height: 375px;
  }
  .header-logo {
    width: 187px;
  }
  .lead {
    padding: 40px 0 0;
  }
  /*about*/
  .about {
    display: block;
  }
  .about_img img {
    border-bottom-right-radius: 0%;
  }

  /*menu*/
  .menu {
    display: block;
  }

  /*gallery*/

  /*event*/
  .event_block {
    display: block;
  }

  /*access*/
  .access {
    display: block;
  }
  /*footer*/
}
@media screen and (max-width: 365px) {
  /*header*/
  /*lead*/
  /*about*/
  /*menu*/
  /*gallery*/
  /*event*/
  /*access*/
  /*footer*/
}
/*ハンバーガーメニュー*/
.sp_nav {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav,
  .sp_btn {
    display: none;
  }

  .sp_btn {
    position: absolute;
    top: 20px;
    right: 25px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp_btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    position: absolute;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }

  /**/

  .sp_btn.open span {
    background: transparent;
  }

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /**/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic",
      "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "sans-serif";
  }
}
