@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #5a5129;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/*CSSリセット終わり*/
body {
  max-width: 1366px;
  background-color: #f3f2ea;
}

.header_wrap {
  width: 100%;
  max-width: 1366px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

.header_inner {
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
  font-weight: 400;
}

.pc_nav ul {
  display: flex;
  margin-right: 40px;
  gap: 20px;
}

.pc_nav ul li {
  font-size: 16px;
  font-family: "din-2014-rounded-variable", sans-serif;
}

.header_logo {
  padding: 60px 0 0 38px;
}

.header_title {
  color: #ffffff;
  font-size: 6vw;
  position: absolute;
  top: 25vw;
  right: 0;
  box-sizing: border-box;
  margin-right: 40px;
}
.header_title span {
  font-size: 60%;
}

.header_subtitle {
  color: #ffffff;
  font-size: 2vw;
  position: absolute;
  top: 50vw;
  right: 7vw;
  box-sizing: border-box;
}

/*main*/

/*concept*/
.concept {
  display: flex;
  gap: 250px;
  max-width: 1000px;
  margin-left: 180px;
  margin-top: 200px;
}

.concept_wrap {
  max-width: 50%;
  display: block;
}

.concept_catch {
  margin-top: 250px;
  font-size: 30px;
  text-align: center;
}

.concept_desc {
  margin-top: 105px;
  font-size: 18px;
  line-height: 3.5;
  text-align: center;
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.concept_img {
  align-items: center;
  max-width: 50%;
}

/*profile*/
.profile {
  display: flex;
  max-width: 1000px;
  margin: 150px;
  gap: 15vw;
  margin-left: 20vw;
}

.profile_img {
  margin-top: 200px;
  min-width: 36px;
  width: 30%;
  text-align: center;
}

.profile_logo {
  width: 32px;
  height: 24px;
}

.profile_wrap {
  width: 50%;
  display: block;
}

.profile_inner {
  text-align: center;
  align-items: end;
}

.profile_name {
  font-size: 13px;
  letter-spacing: 0.3em;
}

.profile_name span {
  font-size: 25px;
  letter-spacing: 0.5em;
}

.profile_desc {
  background-color: #f9f9f4;
  border: 1px solid;
  border-color: #5a5129;
  padding: 5vw 2vw;
  width: 35vw;
  font-family: "dnp-shuei-gothic-kin-std", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.profile_list {
  font-size: 17px;
}

.profile_list li {
  margin-bottom: 30px;
}

.profile_txt {
  margin-top: 85px;
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 0.1em;
}

/* works */
.works {
  max-width: 1000px;
  margin: 0 auto;
}

.works_wrap {
}

.works_catch {
  width: 30vw;
  margin: 0 auto;
}

.works_contens {
  margin: 3vw;
}

.works_ttl {
  font-size: 2vw;
  margin: 5vw -5vw;
}

/* vision */
.vision {
  position: relative;
  margin-top: 15vw;
}

.vision_wrap {
  margin-top: 25vh;
  display: flex;
  position: absolute;
  top: -5vw;
  box-sizing: border-box;
}

.vision_txt {
  max-width: 1000px;
  width: 30%;
  padding: 5vw;
  font-size: 2vw;
  letter-spacing: 0.1em;
  line-height: 3;
  color: #f3f2ea;
}

.vision_wrap img {
  max-width: 1000px;
  width: 10%;
  margin: 0 auto;
}

/* contact */
.contact {
  max-width: 1000px;
  margin: 10vw auto;
}

.contact_wrap {
  text-align: center;
}

.contact_inner {
  text-align: center;
}

.contact_wrap img {
  width: 30%;
}

.item {
  margin-bottom: 20px;
}

.label {
  float: left;
  font-size: 18px;
  margin-right: -50vw;
}

.inputs {
  background-color: #f0d28e;
  font-size: 15px;
  width: 500px;
  height: 50px;
}

.button_area {
  height: 100px;
  margin-left: 33vw;
}

.concept_catch {
  font-size: 20px;
  margin: 3vw auto;
}

/* footer */

.footer_wrap {
  position: relative;
  text-align: center;
}

.footer_nav {
  text-align: center;
}

.footer_nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 80px;
}

.footer_nav ul li {
  color: #f9f9f4;
  font-size: 18px;
}

.footer_sns {
  display: flex;
  position: absolute;
  top: 320px;
  left: 46%;
  transform: translateX(-46%);
  gap: 5vw;
  width: 40px;
}

.footer_desc {
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #f9f9f4;
}
